// libs
@use "./libs/normalize.min.css" as *;

// helpers
@use "./helpers/variables.scss" as *;
@use "./helpers/mixins.scss" as *;
@use "./helpers/base_styles.scss" as *;

// sections
@use "sections/buttons/buttons.scss" as *;
@use "sections/header/header.scss" as *;
@use "sections/header/hamburger.scss" as *;
@use "sections/home/home.scss" as *;
@use "sections/news/news.scss" as *;
@use "sections/about/about.scss" as *;

// fonts
@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Dancing Script";
  src: url('../fonts/DancingScript-Bold.ttf');
  font-weight: 700;
}