.button {
	display: flex;
	background: var(--first-color);
	color: var(--black-color);
	font-weight: var(--font-semi-bold);
	padding: 1.1rem;
	transition: all .1s;
	border-radius: 2px;
	opacity: .9;

	&:hover {
		background-color: var(--first-color-alt);
		transform: scale(1.07);
	}

	&:active {
		opacity: 1;
		transform: scale(1);
	}
}